#Ingles{
    background-color: pink;
}

#orange{
    background-color: orange;
}

#green{
    background-color: greenyellow;
}

#purple{
    background-color: purple;
}

#grey{
    background-color: grey;
}